<!--<mat-tab-group>-->
  <!--<mat-tab label="Product">-->
    <!--<form (ngSubmit)="doSaveProduct()">-->
      <!--<div class="example-container">-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Product ID" readonly="true" [(ngModel)]="product.productID" name="productID">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Name" [(ngModel)]="product.name" name="name">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Description" [(ngModel)]="product.description" name="description">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Min Price" [(ngModel)]="product.minPrice" name="minPrice">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
          <!--<input matInput placeholder="Max Price" [(ngModel)]="product.maxPrice" name="maxPrice">-->
        <!--</mat-form-field>-->
      <!--</div>-->
      <!--<button type="submit" mat-raised-button color="primary">Save</button>-->
    <!--</form>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Operator">-->
    <!--<div class="example-container">-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Operator ID" readonly="true">-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Name">-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Country">-->
      <!--</mat-form-field>-->
    <!--</div>-->
  <!--</mat-tab>-->
  <!--<mat-tab label="Services">-->
    <!--<div class="example-container">-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Services ID" readonly="true">-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Name">-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Type">-->
      <!--</mat-form-field>-->
    <!--</div>-->
  <!--</mat-tab>-->
<!--</mat-tab-group>-->

<app-registration></app-registration>


